body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.h1,.h2 {
    text-align: center;
    color: #333;
}

section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto;
    grid-gap: 2rem;
    perspective: 800px;
}

.card {
    position: relative;
    width: 100px;
    height: 140px;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgbda(0, 0, 0, 0.2) 0px 5px 15px;
}

.face, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.face{
    transform: rotateY(180deg);
}

.back {
    background-image: url('./meme/arriere.jpg');
    background-size: cover;
    backface-visibility: hidden;
}

.retourner {
    transform: rotateY(180deg);
}

