header
{
    border : solid 1px black;
    background-color: white;
    border-radius: 0.6em; 
    font-family:fantasy
}
h2
{
    color: rgb(107, 69, 128);
}
h1
{
    color: rgb(107, 69, 128);
}

body
{
    background-color:  rgb(107, 69, 128);
}

.menu {
border: 5px rgb(19, 7, 26) ;
box-sizing: border-box;
height: 300px;
margin-top:100px;
margin-left:200px;
margin-right:200px;
background-color: white;
border-radius: 0.6em;
}

.niveaux_et_stop{
    position : relative;
    width: 100%;
    display: grid;
}
